tr
	if (item['Office'])
		td #{item['Office']}
	else 
		td —

	if (item['LastName'])
		td #{item['LastName']}
	else 
		td —

	if (item['FirstName'])
		td #{item['FirstName']}
	else 
		td —

	if (item['MiddleName'])
		td #{item['MiddleName']}
	else 
		td —

	if (item['Email'])
		td #{item['Email']}
	else 
		td —

	td
		i.far.fa-times-circle